{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <p><strong>{{ item.name }}</strong></p>

    {% if request.use == item.created_by %}
    <div class="mt-6 p-6 bg-white rounded-xl">
        <p>Esse é o seu ativo!</p>

        <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Excluir</a>
    </div>
    {% endif %}
</div>
{%  endblock %}

 